<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<link rel="stylesheet" href="/css/main.css">
<%- renderStyles() %>
<%- renderScripts() %>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Course Catalog</a></li>
                <li><a href="/faculty">Faculty Directory</a></li>
                <li><a href="/demo">Middleware Demo</a></li>
            </ul>
        </nav>
        <%- greeting %>
    </header>
    <body class=<%= bodyClass %>></body>